WebDemo/Connected Services/WCFService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59618/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductInfo_Wcf" />
  <xs:element name="GetProductsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProductInfo_Wcf" minOccurs="0" name="GetProductsDataResult" nillable="true" type="q1:ArrayOfAllProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreateCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreateCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProductInfo_Wcf" minOccurs="0" name="GetCreateCartResult" nillable="true" type="q2:CreateCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>